ZigZag_Indi_ZigZag_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
ZigZag_Indi_ZigZag_MA_Method={{ ma_method | default(0) }}
ZigZag_Indi_ZigZag_Period={{ (period | default(0) | int) }}
ZigZag_Indi_ZigZag_Shift={{ shift | default(0) }}
ZigZag_LotSize={{ lot_size | default(0) }}
ZigZag_PriceStopLevel={{ (price_stop_level | default(0) | replace("(float)", "") | float) }}
ZigZag_PriceStopMethod={{ price_stop_method | default(0) }}
ZigZag_SignalCloseLevel={{ (signal_close_level | default(0) | replace("(float)", "") | float) }}
ZigZag_SignalCloseMethod={{ signal_close_method | default(0) }}
ZigZag_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
ZigZag_SignalOpenFilterMethod={{  signal_open_filter_method | default(1) }}
ZigZag_SignalOpenLevel={{ (signal_open_level | default(0) | replace("(float)", "") | float) }}
ZigZag_SignalOpenMethod={{ signal_open_method | default(0) }}
ZigZag_TickFilterMethod,1=1
ZigZag_TickFilterMethod,2=1
ZigZag_TickFilterMethod,3=8
ZigZag_TickFilterMethod,F=1
ZigZag_TickFilterMethod={{ tick_filter_method | default(1) }}
