ZigZag_Indi_ZigZag_Backstep={{ (backstep | default(0) | int) }}
ZigZag_Indi_ZigZag_Depth,1={{ ((depth | default(0) | int) - 8) | abs }}
ZigZag_Indi_ZigZag_Depth,2=2
ZigZag_Indi_ZigZag_Depth,3={{ (depth | default(0) | int) + 8 }}
ZigZag_Indi_ZigZag_Depth,F=1
ZigZag_Indi_ZigZag_Depth={{ (depth | default(0) | int) }}
ZigZag_Indi_ZigZag_Deviation={{ (deviation | default(0) | int) }}
ZigZag_Indi_ZigZag_Shift={{ (shift | default(0) | int) }}
ZigZag_SignalOpenFilterMethod=1
ZigZag_SignalOpenLevel={{ signal_open_level | default(0) | float }}
ZigZag_TickFilterMethod=1
